#links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#btn__twitter,
#btn__zuri,
#books,
#book__python,
#pitch,
#book__design {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 80%;
  height: 76px;
  background-color: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
a:hover {
  border-bottom: 1px solid #eaecf0;
  text-decoration: underline;
}
.dropdown{
  float:right;
  overflow: hidden;
}
 
.dropdown-content {
   margin-top:110px; 
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 20%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content h2, .dropdown-content p {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.2s ease-out;
}
#links__icons {
  padding: 24px 0px;
  font-size: 24px;
  height: 72px;
  background-color: #ffffff;
}
#link__icon {
  color: #e01e5a;
  margin-right: 20px;
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  #btn__twitter,
  #btn__zuri,
  #books,
  #book__python,
  #pitch,
  #book__design {
    padding: 24px 32px;
    gap: 8px;
    height: 68px;
  }
  .dropdown-content {
    margin-top:120px; 
    width: 40%;
   
 }
 
}
