#footer__container {
  height: 100px;
  width: 1195.87px;
  margin: 20px 0px 0px 80.36px;
  background-color: #ffffff;
}
#rule {
  border: 1px solid rgba(172, 163, 163, 0.199);
}
#footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px 0px 0px;
}
#dot {
  position: absolute;
  left: 9.62%;
  right: 90.9%;
  top: 153.6%;
  bottom: 19.98%;
}
#footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  #footer__container {
    display: none;
  }
}
