* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  color: #101828;
}
.App {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  .App {
    width: 375px;
  }

}
